{% extends 'base.html' %}
{% block title %}
Курсы
{% endblock %}

{% block content %}
{% load static %}
<main>
    <div class="courses-container">
        <h2>Текущие курсы</h2>
        <ul class="account-course-block-elements lakki-reddy-regular" style="max-width:800px;">
            {% for course in current_courses %}
                <li class="course-element" style="background-image: url({{ course.image.url }}); background-size: 100% 100%; cursor:pointer;" onclick="location.href='{% url 'course' course.slug %}'">
                    <p><span class="labrada-regular account-course-text-elements" style="color: #000000; font-size: 20px;">{{ course.title }}</span></p>
                </li>
            {% endfor %}
            <li style="background: rgba(246, 246, 246, 1); width:auto; height:50px; align-items: unset;">
                <a href="{% url 'current_courses' %}" rel="noopener">
                    <img src="{% static 'img/Arrow right.png' %}">
                </a>
            </li>
        </ul>

        {% for item in categories_with_courses %}
            <h2>{{ item.category.title }}</h2>
            <ul class="account-course-block-elements lakki-reddy-regular" style="max-width:800px;">
                {% for course in item.courses %}
                    <li class="course-element" style="background-image: url({{ course.image.url }}); background-size: 100% 100%; cursor:pointer;" onclick="location.href='{% url 'course' course.slug %}'">
                        <p><span class="labrada-regular account-course-text-elements" style="color: #000000; font-size: 20px;">{{ course.title }}</span></p>
                    </li>
                {% endfor %}
                <li style="background: rgba(246, 246, 246, 1); width:auto; height:50px; align-items: unset;">
                    <a href="{% url 'all_courses' item.category.slug %}" rel="noopener">
                        <img src="{% static 'img/Arrow right.png' %}">
                    </a>
                </li>
            </ul>
        {% endfor %}
    </div>
    <img src="{% static 'img/bg-account.png' %}" id="lastimage" class="side-image" style="top:35%; height: auto; z-index: -1; transform: unset;">
</main>
{% endblock %}