<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% load custom_filters %}

<ul>
    {% for course in completed_courses_list %}
        <li>
            <strong>Course:</strong> {{ course.title }},
            {% if course|is_instance:"Course" %}
                <!-- Ссылка для Course -->
                <a href="{% url 'course' course.slug %}">Перейти к курсу</a>
            {% elif course|is_instance:"PersonalCourse" %}
                <!-- Ссылка для PersonalCourse -->
                <a href="{% url 'personal_course' course.slug %}">Перейти к персональному курсу</a>
            {% endif %}
        </li>
    {% endfor %}
</ul>

</body>
</html>