<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Задача {{ problem_obj.number }}</title>
</head>
<body>
{% if notification is None%}
    <h1>Задача {{ problem_obj.number }}</h1>
    <p>{{ problem_obj.text }}</p>
    {% if problem_obj.theory %}
        <h2>Теория</h2>
        <p>{{ problem_obj.theory }}</p>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <fieldset>
            <legend>Выберите ответ:</legend>

            <div>
                <input type="radio" id="answer1" name="answer" value="1">
                <label for="answer1">
                    {{ problem_obj.answer1_text }}
                    {% if problem_obj.answer1_image %}
                        <img src="{{ problem_obj.answer1_image.url }}" alt="Ответ 1">
                    {% endif %}
                </label>
            </div>

            <div>
                <input type="radio" id="answer2" name="answer" value="2">
                <label for="answer2">
                    {{ problem_obj.answer2_text }}
                    {% if problem_obj.answer2_image %}
                        <img src="{{ problem_obj.answer2_image.url }}" alt="Ответ 2">
                    {% endif %}
                </label>
            </div>

            {% if problem_obj.answer3_text %}
                <div>
                    <input type="radio" id="answer3" name="answer" value="3">
                    <label for="answer3">
                        {{ problem_obj.answer3_text }}
                        {% if problem_obj.answer3_image %}
                            <img src="{{ problem_obj.answer3_image.url }}" alt="Ответ 3">
                        {% endif %}
                    </label>
                </div>
            {% endif %}

            {% if problem_obj.answer4_text %}
                <div>
                    <input type="radio" id="answer4" name="answer" value="4">
                    <label for="answer4">
                        {{ problem_obj.answer4_text }}
                        {% if problem_obj.answer4_image %}
                            <img src="{{ problem_obj.answer4_image.url }}" alt="Ответ 4">
                        {% endif %}
                    </label>
                </div>
            {% endif %}
        </fieldset>

        <button type="submit">Отправить ответ</button>
    </form>

    <!-- Вывод сообщений об успехе или ошибке -->
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    next_problem_id = {{next_problem_id}}
{% else %}
    {{notification}}
{% endif %}
</body>
</html>
