{% extends 'base.html' %}
{% block title %}
Турниры
{% endblock %}

{% block content %}
{% load static %}
<main>
    <div class="tournament" style="min-height: 100vh;">
        <h1>Турнир по «{{tournament_obj.title}}»</h1>
        <button class="button button--outlined labrada-regular" style="margin-top: 15px;" type="submit">Участвовать</button>
        <div style="width:100%; display: flex; justify-content: end;">
            <p><span>Будет проходить до {{tournament_obj.end_date|date:"d.m.Y"}}</span></p>
        </div>

        {% if not notification %}
            <h2 style="text-align: start;">Задачи:</h2>
            <ul class="tournament-task lakki-reddy-regular" style="display: flex; max-width:800px;">
            {% for tournament_problem in tournament_problems %}
                <li>
                    <a href="{% url 'tournament_problem' tournament_problem.pk %}" rel="noopener" class="button button--outlined labrada-regular">
                        <p>
                            <span>
                                Задача №{{ tournament_problem.number }}
                            </span>
                        </p>
                    </a>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
        <div style="margin-top: 50px;">
            <ul class="tournament-member-list">
                {% for user in tournament_top_users %}
                    <li style="background:
                        {% if forloop.counter == 1 %} rgba(255, 215, 0, 1)
                        {% elif forloop.counter == 2 %} rgba(204, 204, 204, 1)
                        {% elif forloop.counter == 3 %} rgba(201, 114, 34, 1)
                        {% else %} rgba(235, 235, 235, 1);
                        {% endif %}">
                        <div class="tournament-member-block">
                            <p>
                                <span></span>
                            </p>
                            <img src="{% static 'img/avatar.png' %}" alt="logo" style="max-width: 30px; max-height: 30px">
                            <p>
                                <span>{{ user.username }}</span>
                            </p>
                        </div>
                        <p style="margin-right: 15px;">
                            <span>Очков: {{user.tournament_points}}</span>
                        </p>
                    </li>
                {% endfor %}
            </ul>
        </div>
        </div>
</main>
{% endblock %}