@import url('https://fonts.googleapis.com/css2?family=Labrada:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lakki+Reddy&display=swap');

.lakki-reddy-regular {
  font-family: "Lakki Reddy", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.labrada-regular {
  font-family: "Labrada", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}


form {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
  box-sizing:border-box;
}

button, .button, .button_cta a {
  background-color: rgba(141, 88, 161, 1);

  color: rgba(255, 255, 255, 1);
  padding: 10px 20px;
  font-family: Labrada, sans-serif;
  font-size: 15px;
  font-weight: 700;
  font-style: normal;
  text-transform: none;
  display: inline-block;
  width: auto;
  height: auto;
  margin: 0;
  cursor: pointer;
  line-height: 1.1;
  letter-spacing: 0.03em;
  white-space: normal;
  word-break: break-word;
  text-align: center;
  text-decoration: none;
  position: relative;
  transition: all 0.15s linear;
  /* To affect HubSpot CTAs */
}

button:hover, button:focus, button:active, .button:hover, .button:focus, .button:active, .button_cta a:hover, .button_cta a:focus, .button_cta a:active {
  background-color: #734D91;
  border-color: #734D91;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  transform: scale(1.05);
}


button:disabled, .button:disabled, .button_cta a:disabled {
  background-color: #D0D0D0;
  border-color: #D0D0D0;
  color: #E6E6E6;
}

button a, .button a, .button_cta a a {
  color: rgba(255, 255, 255, 1);
}

button a:hover, .button a:hover, .button_cta a a:hover {
  color: white;
  text-decoration: none;
}

a,
.link {
  font-size:1em;
  text-decoration:none;
  color:hsl(231, 99%, 66%);
  cursor:pointer
}

a:hover,
.link:hover {
  color:hsl(231, 99%, 66%);
  text-decoration:underline;
}

.button--outlined, .button_cta.button--outlined a {
  background-color: transparent;
  color: #734D91;
  border: 2px solid #734D91;
  border-radius: 4px;
  /* To affect HubSpot CTAs */
}

.content-wrapper {
  margin: 0 auto;
}

.kl-navbar {
  position: relative;
  width: 100%;
  z-index: 210;

  height: 80px;
  background-color:white;
}

.navbar-container {
  position:fixed;
  top: 0px;
  left: 0px;
  width:inherit;
  z-index:211;
}

.main-header{
    padding:0 50px;

    position: relative;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px;
    z-index: 211;

    display: flex;
    align-items: center;
}

@media screen and (max-width: 920px) {
  .kl-navbar {
    justify-content: space-between;
  }
  .kl-navbar--active .kl-navbar__content {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}

.kl-navbar__logo {
  width: auto;
  display: block;
}

.kl-navbar__content {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.kl-navbar__menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: 40px;
}

.kl-navbar__item {
  position: relative;
  margin: 0 32px;
}

.kl-navbar__item--active .kl-navbar__panel {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.kl-navbar__parent {
  cursor: pointer;
}

.kl-navbar__button {
  font-weight: bold;
  font-size: 25px;
  line-height: 2em;
  word-break: normal;
  color: #3b3f40;
  display: inline-block;
  text-decoration: none;
}

.kl-navbar__button:hover, .kl-navbar__button:focus, .kl-navbar__button:active, .kl-navbar__button--active {
  text-decoration: none;
  color: #734D91;
}

.kl-navbar-submenu-wrapper {
  position: absolute;
  left: -24px;
  visibility: hidden;
}

@media screen and (max-width: 920px) {
  .kl-navbar-submenu-wrapper {
    position: static;
    visibility: visible;
    display: none;
  }
}

.kl-navbar__end {
  display: flex;
  align-items: center;
}

.kl-navbar__end > span + a {
  margin-left: 25px;
}

@media screen and (max-width: 920px) {
  .kl-navbar__end > span + a {
    margin-left: 0;
  }
}

.kl-navbar__end > a + a, .kl-navbar__end > a:not(:first-child) {
  margin-left: 25px;
}

@media screen and (max-width: 920px) {
  .kl-navbar__end .hs_cos_wrapper_type_language_switcher {
    display: none;
  }
}

.kl-navbar__end > .button_cta:not(:first-child) {
  margin-left: 25px;
}

.side-image {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
}

.kl-footer {
  background-color: #25262C;
}

.kl-footer p, .kl-footer a, .kl-footer div, .kl-footer span {
color: rgba(255, 255, 255, 0.7);
}


.kl-footer__wrapper {
  width: 100%;
  padding: 60px 0;
}


.kl-footer__content {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}

.kl-footer__menu {
  display: flex;
  flex-wrap: wrap;
  margin: -16px 0;
}

@media screen and (max-width: 680px) {
  .kl-footer__menu {
    margin: 16px -16px 0;
  }
}

.kl-footer__menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.kl-footer__menu h3 {
  font-size: 1.125rem;
  font-weight: bold;
  margin: 0 0 1rem;
  color: rgba(255, 255, 255, 1.0);
}

.kl-footer__menu a{
  text-decoration: none;
}

.kl-footer__menu a:hover, .kl-footer__menu a:focus, .kl-footer__menu a:active {
  color: rgba(255, 255, 255, 1.0);
}

.kl-footer__group {
  margin: 16px 82px;
}

@media screen and (max-width: 680px) {
  .kl-footer__group {
    margin: 16px;
  }
}

.kl-footer__legal {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.7);
}

.kl-footer__img {
    max-width: 70px;
    max-height: 70px;

}

.kl-footer-ul__flex {
    display:flex;
}
.kl-footer-ul__flex li {
    display: flex;
    align-items: center;
}


.kl-rich-text--center {
  position: relative;
  text-align: left;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-block {
  list-style: none;
  align-items:center;
  display: flex;
  padding: 0;
  margin-bottom: 35px;
  z-index:1;
}

.first-block li {
  margin-left: 40px;
}

.second-block {
  list-style: none;
  align-items: top;
  justify-content: center;
  display: flex;
  padding: 0;
  margin-bottom: 35px;
}

.second-block li {
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
  width: 25%;
  height: 260px;
  padding: 15px;
}

.color-blocks-line {
    border: none; /* Убирает стандартные границы */
    height: 2px; /* Высота линии */
    background-color: #ffffff; /* Цвет линии */
    margin: 20px 0; /* Отступы сверху и снизу */
}

.third-block {
  list-style: none;
  display: flex;
  padding: 0;
  margin-bottom: 35px;
}

.third-block li {
  margin-left: 15px;
  margin-right: 15px;
}

.banner {
  width: 700px;
  border: 6px solid black;
  padding: 50px;
}


.account-main {
  list-style: none;
  display: flex;
  padding: 0;
  margin-bottom: 35px;
}

.account-main li {
  margin-left: 15px;
  margin-right: 15px;
}

.account-course-text-elements {
    background: rgba(235, 235, 235, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 6px;
}

.account-course-block-elements {
  list-style: none;
  display: flex;
  padding: 0;
  margin-bottom: 35px;
  align-items: center;
}

.account-course-block-elements li {
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: end;
  width: 150px;
  height: 150px;
  margin-right: 30px;
}

.account-course-news-elements {
  list-style: none;
  padding: 0;
  margin-bottom: 35px;
  align-items: center;
}

.account-course-news-elements li {
  background: linear-gradient(90deg, #91DDF7 0%, #558191 100%);
  border-radius: 20px;
  text-align: start;
  align-content: end;
  width: 600px;
  height: 130px;
  margin-top:30px;
}

.account-course-news-elements li p {
  margin-left: 15px;
}

.auth-container {
  min-height: 90vh;
  min-height: 90dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 12px;
}

.auth-container__content {
  width: 100%;
  max-width: 600px;
}

.auth-container__body {
  margin: auto;
  max-width: 600px;
  width: 100%;
  padding: 28px 40px 40px;
  border-radius: 12px;
  background: rgba(240, 240, 240, 0.3);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.auth-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.auth-form_unset-top {
  margin-top: 0;
}

.form-input {
  --input-size: 32px;
  --input-font-size: 14px;
  --input-radius: 6px;
  position:relative;
  flex-grow:1
}

.form-input__placeholder {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  z-index:7;
  color:rgba(0, 0, 0, 0.7);
  pointer-events:none;
  opacity:.7;
  border:solid 1px transparent
}

.form-input_size-lg {
  --input-size: 40px;
  --input-padding-x: 18px
}

input.form-input__field,
select.form-input__field,
.form-input__placeholder {
  padding:5px 12px
}

.form-input_size-lg .form-input__field,
.form-input_size-lg .form-input__placeholder {
  padding-left:18px;
  padding-right:18px;
  height:40px;
}

textarea.form-input__field {
  max-width:100%;
  min-width:100%;
  padding:12px
}

.form-input__field {
  display: block;
  margin: 0;
  width: 100%;
  max-width: 100%;
  border-radius: 25px;
  border: solid 1px #dcdee2;
  transition: border .2s ease-in-out,background .2s ease-in-out,box-shadow .2s ease-in-out;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25) inset;
}

.form-input__field:hover,
.form-input__field:focus {
  position:relative;
  z-index:4;
  border-color:rgba(141, 88, 161, 1);
}
.form-input__field:focus {
  outline:none;
}

.course-element:hover {
    transform: scale(1.15);
}

.answer-image {
    user-select: none;
    width: 80px;
    height: auto;
}

.answer-radio:checked + .answer-label {
    background: linear-gradient(90deg, #98EC6B 0%, #56863D 100%);
}

.answer-radio {
    display: none;
}

.answer-label {
    cursor: pointer;
    background: rgba(248, 248, 248, 1);
    border-radius: 20px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    width: 150px;
    height: 150px;
    margin-right: 30px;
    transition: background 1.5s ease;
}

.tournament{
    width: 800px;
    margin: 0 auto;

    padding: 20px;
    text-align: center;
}

.tournament-member-list {
  list-style: none;
  display: flex;
  flex-flow: column;
  padding: 0;
  align-items: center;
}

.tournament-member-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 215, 0, 1);
  border-radius: 20px;
  align-content: center;
  width: 600px;
  height: 40px;
  margin-top: 10px;
}

.tournament-member-block{
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.tournament-member-block p {
    margin-left: 15px;
}

.tournament-member-block img {
    margin-left: 15px;
}

width: 30px;
    height: 30px;
    background: linear-gradient(90deg, #08E8DE 0%, #04827C 100%);
    border-radius: 50px 50px 50px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;