{% extends 'base.html' %}
{% block title %}
Сброс Пароля
{% endblock %}

{% block content %}
{% load static %}
{% load custom_filters %}

<main>
<div class="auth-container" style="margin-top: 30px;">
   <div class="auth-container__content">
      <div class="auth-container__body">
         <div class="auth-form">
            <p class="lakki-reddy-regular" style="text-align: center; font-size: 45px; color: rgba(115, 77, 145, 1);">Проверьте свою почту, вам должно прийти письмо со ссылкой для восстановления пароля</p>
         </div>
      </div>
   </div>
</div>
</main>
{% endblock %}