{% extends 'base.html' %}
{% block title %}
Личный кабинет
{% endblock %}

{% block content %}
{% load static %}

<main>
<div class="account-container">
    <div class="account-main-info" style="display: flex; justify-content: space-between; margin-top: 20px;">
        <ul class="account-main lakki-reddy-regular" style="max-width:800px; align-items: center">
            <li>
                <img src="{% static 'img/avatar.png' %}" style="width: 10vw; min-width: 120px;">
            </li>
            <li>
                <p><span class="labrada-regular" style="font-size: 30px; font-weight: bold;">{{user}}</span></p>
                <p><span class="labrada-regular" style="color: #000000; font-size: 20px">Место в рейтинге: {{user_position_in_top}}</span></p>
                <a href="{% url 'account:order' %}" rel="noopener" class="button button--outlined">
                    <span>Услуги</span>
                </a>
            </li>
        </ul>
        <ul class="account-main lakki-reddy-regular" style="max-width:800px;">
            <li>
                <a href="{% url 'account:password_change' %}" rel="noopener" class="button button--outlined labrada-regular">
                    <span>Настройки</span>
                </a>
            </li>
            <li>
                <form id="logout-form" action="{% url 'logout' %}" method="POST">
                    {% csrf_token %}
                    <button id="form-submit-link2" class="button button--outlined labrada-regular" type="submit">Выйти</button>
                </form>
            </li>
        </ul>
    </div>
    <div class="account-data-container">
        <div>
        <p><span class="labrada-regular" style="font-size: 30px; font-weight: bold;">Личные курсы</span></p>
        <ul class="account-course-block-elements lakki-reddy-regular" style="max-width:800px;">
            {% for course in personal_courses_list %}
            <li class="course-element" style="background-image: url({{ course.image.url }}); background-size: 100% 100%; cursor:pointer;" onclick="location.href='{% url 'personal_course' course.slug %}'">
                <p><span class="labrada-regular account-course-text-elements" style="color: #000000; font-size: 20px;">{{ course.title }}</span></p>
            </li>
            {% endfor %}
            {% if personal_courses_list %}
            <li style="background: rgba(246, 246, 246, 1); width:auto; height:50px; align-items: unset;">
                <a href="{% url 'personal_courses' %}" rel="noopener">
                    <img src="{% static 'img/Arrow right.png' %}">
                </a>
            </li>
            {% endif %}
        </ul>

        <p><span class="labrada-regular" style="font-size: 30px; font-weight: bold;">Текущие курсы</span></p>
        <ul class="account-course-block-elements lakki-reddy-regular" style="max-width:800px;">
            {% for course in current_courses_list %}
            <li class="course-element" style="background-image: url({{ course.image.url }}); background-size: 100% 100%; cursor:pointer;" onclick="location.href='{% url 'course' course.slug %}'">
                <p><span class="labrada-regular account-course-text-elements" style="color: #000000; font-size: 20px;">{{ course.title }}</span></p>
            </li>
            {% endfor %}
            {% if current_courses_list %}
            <li style="background: rgba(246, 246, 246, 1); width:auto; height:50px; align-items: unset;">
                <a href="{% url 'current_courses' %}" rel="noopener">
                    <img src="{% static 'img/Arrow right.png' %}">
                </a>
            </li>
            {% endif %}
        </ul>

        <p><span class="labrada-regular" style="font-size: 30px; font-weight: bold;">Пройденые курсы</span></p>
        <ul class="account-course-block-elements lakki-reddy-regular" style="max-width:800px;">
            {% for course in completed_courses_list %}
            <li class="course-element" style="background-image: url({{ course.image.url }}); background-size: 100% 100%; cursor:pointer;" {% if course.user %}
            onclick="location.href='{% url 'personal_course' course.slug %}'"
            {% else %}
            onclick="location.href='{% url 'course' course.slug %}'"
            {% endif %}>
                <p><span class="labrada-regular account-course-text-elements" style="color: #000000; font-size: 20px;">{{ course.title }}</span></p>
            </li>
            {% endfor %}
            {% if completed_courses_list %}
            <li style="background: rgba(246, 246, 246, 1); width:auto; height:50px; align-items: unset;">
                <a href="{% url 'completed_courses' %}" rel="noopener">
                    <img src="{% static 'img/Arrow right.png' %}">
                </a>
            </li>
            {% endif %}
        </ul>
        </div>
        <div class="account-news-block">
            <p><span class="labrada-regular" style="font-size: 30px; font-weight: bold;">Новости</span></p>
        <ul class="account-course-news-elements lakki-reddy-regular" style="max-width:800px;">
            {% for news in news_list%}
            <li>
                <div class="account-course-text-elements" style="padding: 0; display: flex;
    align-items: center;
    justify-content: space-between; margin-top: 15px;">
                    <div style="overflow-x:hidden;">
                         <a href="" rel="noopener" style="color: black;">
                            <p><span class="news-header labrada-regular"> {{news.title}} ({{news.pub_date|date:"d.m.Y"}})</span></p>
                         </a>
                        <p><span class="news-text labrada-regular">{{news.text}}</span></p>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
        </div>
    </div>
    <img src="{% static 'img/bg-account.png' %}" class="side-image" id="lastimageacc" style="top:35%; height: auto; z-index: -1; transform: unset;">
</div>
</main>

{% endblock %}