{% extends 'base.html' %}
{% block title %}
Личный кабинет
{% endblock %}

{% block content %}
{% load static %}

<main>
<div style="margin-left:200px; max-width: 1200px; margin: 0 auto;">
    <div style="display: flex; justify-content: space-between; margin-top: 20px;">
        <ul class="account-main lakki-reddy-regular" style="max-width:800px;">
            <li>
                <img src="{% static 'img/avatar.png' %}">
            </li>
            <li>
                <p><span class="labrada-regular" style="font-size: 30px; font-weight: bold;">Никнейм</span></p>
                <p><span class="labrada-regular" style="color: #000000; font-size: 20px">Место в рейтинге: ???</span></p>
                <a href="{% url 'all_courses' %}" rel="noopener" class="button button--outlined">
                    <span>Подобрать курс</span>
                </a>
            </li>
        </ul>
        <ul class="account-main lakki-reddy-regular" style="max-width:800px;">
            <li>
                <a href="" rel="noopener" class="button button--outlined labrada-regular">
                    <span>Настройки</span>
                </a>
            </li>
            <li>
                <a href="" rel="noopener" class="button button--outlined labrada-regular">
                    <span>Выйти</span>
                </a>
            </li>
        </ul>
    </div>
    <div style="display: flex;">
        <div>
        <p><span class="labrada-regular" style="font-size: 30px; font-weight: bold;">Личные курсы</span></p>
        <ul class="account-course-block-elements lakki-reddy-regular" style="max-width:800px;">
            <li style="background: linear-gradient(90deg, #91DDF7 0%, #558191 100%);">
                <p><span class="labrada-regular account-course-text-elements" style="color: #000000; font-size: 20px;">Русский</span></p>
            </li>
            <li style="background: linear-gradient(90deg, #F79191 0%, #EA8989 12.5%, #915555 100%);">
                <p><span class="labrada-regular account-course-text-elements" style="color: #000000; font-size: 20px;">Математика</span></p>
            </li>
            <li style="background: linear-gradient(90deg, #B0C8F7 0%, #677591 100%);">
                <p><span class="labrada-regular account-course-text-elements" style="color: #000000; font-size: 20px;">Логика</span></p>
            </li>
            <li style="background: rgba(246, 246, 246, 1); width:auto; height:50px; align-items: unset;">
                <a href="{% url 'personal_courses' %}" rel="noopener">
                    <img src="{% static 'img/Arrow right.png' %}">
                </a>
            </li>
        </ul>

        <p><span class="labrada-regular" style="font-size: 30px; font-weight: bold;">Текущие курсы</span></p>
        <ul class="account-course-block-elements lakki-reddy-regular" style="max-width:800px;">
            <li style="background: linear-gradient(90deg, #91DDF7 0%, #558191 100%);">
                <p><span class="labrada-regular account-course-text-elements" style="color: #000000; font-size: 20px;">Русский</span></p>
            </li>
            <li style="background: linear-gradient(90deg, #F79191 0%, #EA8989 12.5%, #915555 100%);">
                <p><span class="labrada-regular account-course-text-elements" style="color: #000000; font-size: 20px;">Математика</span></p>
            </li>
            <li style="background: linear-gradient(90deg, #B0C8F7 0%, #677591 100%);">
                <p><span class="labrada-regular account-course-text-elements" style="color: #000000; font-size: 20px;">Логика</span></p>
            </li>
            <li style="background: rgba(246, 246, 246, 1); width:auto; height:50px; align-items: unset;">
                <a href="{% url 'current_courses' %}" rel="noopener">
                    <img src="{% static 'img/Arrow right.png' %}">
                </a>
            </li>
        </ul>

        <p><span class="labrada-regular" style="font-size: 30px; font-weight: bold;">Пройденые курсы</span></p>
        <ul class="account-course-block-elements lakki-reddy-regular" style="max-width:800px;">
            <li style="background: linear-gradient(90deg, #91DDF7 0%, #558191 100%);">
                <p><span class="labrada-regular account-course-text-elements" style="color: #000000; font-size: 20px;">Русский</span></p>
            </li>
            <li style="background: linear-gradient(90deg, #F79191 0%, #EA8989 12.5%, #915555 100%);">
                <p><span class="labrada-regular account-course-text-elements" style="color: #000000; font-size: 20px;">Математика</span></p>
            </li>
            <li style="background: linear-gradient(90deg, #B0C8F7 0%, #677591 100%);">
                <p><span class="labrada-regular account-course-text-elements" style="color: #000000; font-size: 20px;">Логика</span></p>
            </li>
            <li style="background: rgba(246, 246, 246, 1); width:auto; height:50px; align-items: unset;">
                <a href="{% url 'completed_courses' %}" rel="noopener">
                    <img src="{% static 'img/Arrow right.png' %}">
                </a>
            </li>
        </ul>
        </div>
        <div style="margin-left: 70px;">
            <p><span class="labrada-regular" style="font-size: 30px; font-weight: bold;">Новости</span></p>
        <ul class="account-course-news-elements lakki-reddy-regular" style="max-width:800px;">
            <li>
                <div class="account-course-text-elements" style="padding: 0; display: flex;
    align-items: center;
    justify-content: space-between;">
                    <div>
                        <p><span class="labrada-regular" style="font-size: 30px; font-weight: bold;">Новый турнир!</span></p>
                        <p><span class="labrada-regular" style="color: #000000; font-size: 20px">С ХХ.ХХ по ХХ.ХХ будет проходить турнир...</span></p>
                    </div>
                    <a href="" rel="noopener" style="margin-right: 15px; box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); border-radius: 20px; display: flex;">
                        <img src="{% static 'img/Arrow right.png' %}">
                    </a>
                </div>
            </li>
            <li>
                <div class="account-course-text-elements" style="padding: 0; display: flex;
    align-items: center;
    justify-content: space-between;">
                    <div>
                        <p><span class="labrada-regular" style="font-size: 30px; font-weight: bold;">Новый турнир!</span></p>
                        <p><span class="labrada-regular" style="color: #000000; font-size: 20px">С ХХ.ХХ по ХХ.ХХ будет проходить турнир...</span></p>
                    </div>
                    <a href="" rel="noopener" style="margin-right: 15px; box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); border-radius: 20px; display: flex;">
                        <img src="{% static 'img/Arrow right.png' %}">
                    </a>
                </div>
            </li>
            <li >
                <div class="account-course-text-elements" style="padding: 0; display: flex;
    align-items: center;
    justify-content: space-between;">
                    <div>
                        <p><span class="labrada-regular" style="font-size: 30px; font-weight: bold;">Новый турнир!</span></p>
                        <p><span class="labrada-regular" style="color: #000000; font-size: 20px">С ХХ.ХХ по ХХ.ХХ будет проходить турнир...</span></p>
                    </div>
                    <a href="" rel="noopener" style="margin-right: 15px; box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); border-radius: 20px; display: flex;">
                        <img src="{% static 'img/Arrow right.png' %}">
                    </a>
                </div>
            </li>
        </ul>
        </div>
    </div>
    <img src="{% static 'img/bg-account.png' %}" class="side-image" style="top:35%; height: auto; z-index: -1; transform: unset;">
</div>
</main>

{% endblock %}