{% extends 'base.html' %}
{% block title %}
Регистрация
{% endblock %}

{% block content %}
{% load static %}

<main>
<div class="auth-container" style="margin-top: 30px;">
   <div class="auth-container__content">
      <div class="auth-container__body">
         <div class="auth-form">
            <p class="lakki-reddy-regular" style="text-align: center; font-size: 45px; color: rgba(115, 77, 145, 1);">Регистрация</p>
            <form>
               <div class="auth-form auth-form_unset-top">
                  <div class="form-input form-input_size-lg">
                         <input aria-invalid="false" name="email" placeholder="Ваша почта" class="form-input__field" type="text" value="">
                  </div>
                  <div class="form-input form-input_size-lg">
                         <input aria-invalid="false" name="username" placeholder="Ваш никнейм" class="form-input__field" type="text"value="">
                  </div>
                  <div class="form-input form-input_size-lg">
                         <input aria-invalid="false" name="password" placeholder="Ваш пароль" type="password" class="form-input__field" value="">
                  </div>
                  <div class="form-input form-input_size-lg">
                         <input aria-invalid="false" name="confirm_password" placeholder="Повторите ваш пароль" type="password" class="form-input__field" value="">
                  </div>
                  <p style="font-size: 14px;">Регистрируясь на сайте, вы соглашаетесь с <a target="_blank" href="/index">Пользовательским соглашением</a>.</p>
                  <button class="button button--outlined labrada-regular" tabindex="0" type="submit">
                     <span>Регистрация</span>
                  </button>
               </div>
            </form>
            <p>Уже есть аккаунт? <a href="{% url 'account:login' %}">Войти</a></p>
         </div>
      </div>
   </div>
</div>
</main>
{% endblock %}