{% extends 'base.html' %}
{% block title %}
Часто задаваемые вопросы
{% endblock %}

{% block content %}
{% load static %}
<main>
    <div class="labrada-regular faq-container">
      <div class="tab">
        <a class="tablinks" onclick="openCity(event, 'First')" style="color: black; text-decoration: none;  margin-top: 15px;">Связь с нами <hr class="faq-hr"></a>
        <a class="tablinks" onclick="openCity(event, 'Second')" style="color: black; text-decoration: none;">Регистрация и вход <hr class="faq-hr"></a>
        <a class="tablinks" onclick="openCity(event, 'Third')" style="color: black; text-decoration: none;">Образовательные материалы <hr class="faq-hr"></a>
      </div>
      <div class="faq-text-container">
        <div id="First" class="tabcontent" style="display: block;">
          <h2>Связь с нами</h2>
          <h3>Telegram и WhatsApp</h3>
          <p>Вы можете обратиться в нашу службу поддержки через мессенджеры Telegram и WhatsApp. Просто отправьте сообщение на номер +7-902-381-00-51, и наши операторы ответят вам в кратчайшие сроки. Поддержка через мессенджеры доступна круглосуточно, без выходных, чтобы вы могли получить помощь в любое удобное для вас время.</p>
          <h3>Звонок по телефону</h3>
          <p>Если вы предпочитаете голосовое общение, позвоните нам по номеру +7-902-381-00-51. Наши специалисты готовы ответить на ваши вопросы с 9:00 до 18:00 по московскому времени, с понедельника по пятницу. Вне этого времени вы можете оставить голосовое сообщение, и мы обязательно перезвоним вам при первой возможности.</p>
          <h3>Электронная почта</h3>
          <p>Для письменных обращений вы можете написать нам на электронную почту nikitafofilov08@gmail.com. Пожалуйста, укажите в письме подробную информацию о вашем вопросе или проблеме, чтобы мы могли предоставить максимально точный и быстрый ответ. Мы стараемся отвечать на все письма в течение 24 часов.</p>
          <h3>ВКонтакте</h3>
          <p>Мы также представлены в социальной сети ВКонтакте. Присоединяйтесь к нашей группе по <a href="https://vk.com/4ndgc">ссылке</a>, чтобы быть в курсе последних новостей и обновлений. Вы можете отправить нам личное сообщение или оставить комментарий — мы обязательно ответим. Общение в социальной сети удобно тем, что вы можете видеть ответы на вопросы других пользователей и участвовать в обсуждениях.</p>
          <h3>Дополнительная информация</h3>
          <p>Независимо от выбранного способа связи, мы всегда рады помочь вам и ответить на любые вопросы, связанные с использованием нашего сайта. Ваша обратная связь очень важна для нас, и мы стремимся сделать процесс обучения вашего ребенка максимально комфортным и эффективным. Если у вас есть предложения или пожелания по улучшению нашего сервиса, пожалуйста, не стесняйтесь сообщать нам об этом.</p>
        </div>

        <div id="Second" class="tabcontent">
          <h2>Регистрация и вход</h2>
          <h3>Шаг 1: Переход к форме регистрации</h3>
          <p>Чтобы зарегистрироваться на нашем сайте, перейдите на главную страницу и нажмите на кнопку "Регистрация", расположенную в правом верхнем углу.</p>
          <h3>Шаг 2: Заполнение регистрационной формы</h3>
          <p>В открывшейся форме регистрации вам потребуется ввести следующие данные:
            <br><br>
<b>Почта</b>: Укажите действующий адрес электронной почты. На него будут отправляться уведомления и подтверждение регистрации.
<br><br>
<b>Никнейм (логин)</b>: Придумайте уникальный логин, который вы будете использовать для входа на сайт. Это будет видно другим пользователям на сайте.
<br><br>
<b>Пароль</b>: Создайте надежный пароль, используя сочетание букв, цифр и специальных символов.
<br><br>
<b>Повторите пароль</b>: Введите пароль еще раз для подтверждения и предотвращения возможных ошибок при вводе.
            <br><br>
Убедитесь, что все поля заполнены корректно. После этого нажмите кнопку "Далее" внизу формы.</p>
          <h3>Вход</h3>
          <p>После успешной активации аккаунта вы можете войти на сайт. Для этого нажмите на кнопку "Вход" и введите ваш логин и пароль. Если вы забыли пароль, воспользуйтесь опцией "Забыли пароль?" для его восстановления.</p>
        </div>

        <div id="Third" class="tabcontent">
          <h2>Образовательные материалы</h2>
          <h3>Интерактивные игры и задания</h3>
          <p>Наш сайт предлагает широкий выбор интерактивных игр и заданий, специально разработанных для развития различных навыков у детей дошкольного и младшего школьного возраста. Среди них вы найдете упражнения по математике, чтению, письму и логике, представленные в игровой форме. Такой подход делает обучение увлекательным и стимулирует интерес ребенка к новым знаниям. Регулярное обновление контента гарантирует, что ваш ребенок всегда найдет что-то новое и интересное для себя.</p>
          <h3>Индивидуальные курсы для вашего ребенка</h3>
          <p>Мы понимаем, что каждый ребенок уникален и имеет свои особенности и потребности. Поэтому предлагаем возможность составления индивидуальных курсов обучения, полностью адаптированных под вашего ребенка. После подробного общения с родителями наши специалисты разрабатывают программу, учитывающую уровень знаний, интересы и цели ребенка. Такой персонализированный подход обеспечивает максимальную эффективность обучения и позволяет достичь высоких результатов.</p>
          <h3>Репетиторство и сопровождение</h3>
          <p>Для более глубокого и целенаправленного обучения мы предоставляем услуги репетиторства. Наши опытные педагоги создают серию из четырех индивидуальных курсов, каждый из которых направлен на развитие определенных навыков и знаний. После прохождения каждого курса проводится личная беседа с ребенком, чтобы оценить прогресс, выявить возможные сложности и скорректировать программу последующих курсов. Такой метод позволяет не только улучшить качество обучения, но и установить доверительные отношения между ребенком и преподавателем, что способствует более эффективному усвоению материала.</p>
          <h3>Дополнительная информация</h3>
          <p>Мы стремимся предоставить максимально широкий спектр образовательных материалов, чтобы каждый ребенок мог раскрыть свой потенциал и достичь успеха в учебе. Независимо от выбранного пути обучения — самостоятельное изучение материалов, индивидуальные курсы или репетиторство — мы гарантируем высокое качество контента и поддержку на каждом этапе обучения.</p>

        </div>
        </div>
</div>

<script>
function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}
</script>

</main>
{% endblock %}