{% extends 'base.html' %}
{% block title %}
О нас
{% endblock %}

{% block content %}
{% load static %}
<main>
 <div>
     <div style="display: flex; justify-content: center; text-align: center; max-height: 500px;">
        <ul class="about-block labrada-regular" style="margin: 0;">
            <li>
                <h1><span class="bold-about" style="color: #734D91;">Мы - команда <br> Super Brain</span></h1>
            </li>
            <li>
                <img src="{% static 'img/logo.png' %}" style="max-width: 30vw; max-height: 500px;">
            </li>
        </ul>
     </div>
     <div style="display: flex; justify-content: center; text-align: center; background: rgba(141, 88, 161, 1); max-height: 500px;">
        <ul class="about-block labrada-regular" style="margin: 0;">
            <li class="about-right">
                <img src="{% static 'img/fofilov.png' %}" style="max-width: 30vw; max-height: 500px;">
            </li>
            <li style="color: white;">
                <h1><span class="bold-about">Руководитель</span></h1>
                <p>Никита Фофилов</p>
                <p>Текст</p>
            </li>
        </ul>
     </div>
     <div style="display: flex; justify-content: center; text-align: center; max-height: 500px;">
        <ul class="about-block labrada-regular" style="margin: 0;">
            <li style="color: rgba(115, 77, 145, 1);">
                <h1><span class="bold-about">Аналитик</span></h1>
                <p>Дмитрий Иванов</p>
                <p>Текст</p>
            </li>
            <li class="about-left">
                <img src="{% static 'img/ivanov.png' %}" style="max-width: 30vw; max-height: 500px;">
            </li>
        </ul>
     </div>
     <div style="display: flex; justify-content: center; text-align: center; background: rgba(141, 88, 161, 1); max-height: 500px;">
        <ul class="about-block labrada-regular" style="margin: 0;">
            <li class="about-right">
                <img src="{% static 'img/kibalnikov.png' %}" style="max-width: 30vw; max-height: 500px;">
            </li>
            <li style="color: white;">
                <h1><span class="bold-about">Дизайнер</span></h1>
                <p>Сергей Кибальников</p>
                <p>Текст</p>
            </li>
        </ul>
     </div>
     <div style="display: flex; justify-content: center; text-align: center; max-height: 500px;">
        <ul class="about-block labrada-regular" style="margin: 0;">
            <li style="color: rgba(115, 77, 145, 1);">
                <h1><span class="bold-about">Разработчик</span></h1>
                <p>Максим Подгорный</p>
                <p>Текст</p>
            </li>
            <li class="about-left">
                <img src="{% static 'img/podgorny.png' %}" style="max-width: 30vw; max-height: 500px;">
            </li>
        </ul>
     </div>
     <div style="display: flex; justify-content: center; text-align: center; background: rgba(141, 88, 161, 1); max-height: 500px;">
        <ul class="about-block labrada-regular" style="margin: 0;">
            <li class="about-right">
                <img src="{% static 'img/yurchenko.png' %}" style="max-width: 30vw; max-height: 500px;">
            </li>
            <li style="color: white;">
                <h1><span class="bold-about">Копирайтер</span></h1>
                <p>Игорь Юрченко</p>
                <p>Текст</p>
            </li>
        </ul>
     </div>
 </div>
</main>
{% endblock %}