{% extends 'base.html' %}
{% block title %}
О нас
{% endblock %}

{% block content %}
{% load static %}
<main>
 <div>
     <div style="display: flex; justify-content: center; text-align: center; max-height: 500px;">
        <ul class="first-block labrada-regular" style="margin: 0;">
            <li>
                <h1><span style="color: #734D91; font-weight: bold; font-size: 60px;">Мы - команда <br> Super Brain</span></h1>
            </li>
            <li>
                <img src="{% static 'img/logo.png' %}" style="max-width: 500px; max-height: 500px;">
            </li>
        </ul>
     </div>
     <div style="display: flex; justify-content: center; text-align: center; background: rgba(141, 88, 161, 1); max-height: 500px;">
        <div class="first-block labrada-regular" style="margin: 0;">
            <div style="max-height: 500px; margin-right:100px;">
                <img src="{% static 'img/fofilov.png' %}" style="max-width: 500px; max-height: 500px;">
            </div>
            <div style="color: white;">
                <h1 ><span style="font-weight: bold; font-size: 60px;">Руководитель</span></h1>
                <p>Никита Фофилов</p>
                <p>Текст</p>
            </div>
        </div>
     </div>
     <div style="display: flex; justify-content: center; text-align: center; max-height: 500px;">
        <ul class="first-block labrada-regular" style="margin: 0;">
            <li style="color: rgba(115, 77, 145, 1);">
                <h1 ><span style="font-weight: bold; font-size: 60px;">Аналитик</span></h1>
                <p>Дмитрий Иванов</p>
                <p>Текст</p>
            </li>
            <li style="max-height: 500px; margin-left:100px;">
                <img src="{% static 'img/ivanov.png' %}" style="max-width: 500px; max-height: 500px;">
            </li>
        </ul>
     </div>
     <div style="display: flex; justify-content: center; text-align: center; background: rgba(141, 88, 161, 1); max-height: 500px;">
        <ul class="first-block labrada-regular" style="margin: 0;">
            <li style="max-height: 500px; margin-right:100px;">
                <img src="{% static 'img/kibalnikov.png' %}" style="max-width: 500px; max-height: 500px;">
            </li>
            <li style="color: white;">
                <h1 ><span style="font-weight: bold; font-size: 60px;">Дизайнер</span></h1>
                <p>Сергей Кибальников</p>
                <p>Текст</p>
            </li>
        </ul>
     </div>
     <div style="display: flex; justify-content: center; text-align: center; max-height: 500px;">
        <ul class="first-block labrada-regular" style="margin: 0;">
            <li style="color: rgba(115, 77, 145, 1);">
                <h1 ><span style="font-weight: bold; font-size: 60px;">Разработчик</span></h1>
                <p>Максим Подгорный</p>
                <p>Текст</p>
            </li>
            <li style="max-height: 500px; margin-left:100px;">
                <img src="{% static 'img/podgorny.png' %}" style="max-width: 500px; max-height: 500px;">
            </li>
        </ul>
     </div>
     <div style="display: flex; justify-content: center; text-align: center; background: rgba(141, 88, 161, 1); max-height: 500px;">
        <ul class="first-block labrada-regular" style="margin: 0;">
            <li style="max-height: 500px; margin-right:100px;">
                <img src="{% static 'img/yurchenko.png' %}" style="max-width: 500px; max-height: 500px;">
            </li>
            <li style="color: white;">
                <h1 ><span style="font-weight: bold; font-size: 60px;">Копирайтер</span></h1>
                <p>Игорь Юрченко</p>
                <p>Текст</p>
            </li>
        </ul>
     </div>
 </div>
</main>
{% endblock %}