<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">

</head>
<body>
<header class="kl-header">
    {% include 'includes/header.html' %}
</header>
{% block content %}

{% endblock %}
<footer class="kl-footer">
    {% include 'includes/footer.html' %}
</footer>
</body>
</html>