<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <!--тег чтобы наши статические файлы (css, img и тд) работали в этом файлике-->
    {% load static %}
    <!--пример обращения к статике в href-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
<header>
    {% include 'includes/header.html' %}
</header>
{% block content %}

{% endblock %}
<footer>
    {% include 'includes/footer.html' %}
</footer>
</body>
</html>